In [1]:
file2 = open("ligacao.txt",'r')
file1=file2.read()

lista=[]
texto1=file1.split('\n')[0].split(':')[0].replace(' ','')
texto2=file1.split('\n')[1].split(':')[0].replace(' ','')
texto3=file1.split('\n')[2].split(':')[0].replace(' ','')
lista.append(texto1)
lista.append(texto2)
lista.append(texto3)

for x in lista:
    if x == 'username':
        user=file1.split('\n')[0].split(':')[1].replace(' ','')
    if x =='dsn':
        dsn=file1.split('\n')[1]
        dsn1=dsn.split(':')[1]
        dsn2=dsn.split(':')[2]
        dsn=(dsn1+':'+dsn2).replace(' ','')
    if x =='password':
        password=file1.split('\n')[2].split(':')[1].replace(' ','')
file2.close()

In [2]:
import pandas as pd
import numpy as np
import os
import cx_Oracle

In [3]:
cx_Oracle.init_oracle_client(lib_dir=os.environ.get("HOME")+"/Downloads/instantclient_19_8")

In [4]:
connection = cx_Oracle.connect(
    user=user,
    password=password,
    dsn=dsn)

In [5]:
cursor = connection.cursor()

In [6]:
from sqlalchemy import types, create_engine
conn = create_engine('oracle+cx_oracle://IACD:123iacd@192.168.233.54:1521/?service_name=orclpdb1')
dataset_predict = pd.read_sql('select * from INPUT_PREDICT_URGENCIA_LOS_INT', conn)

In [7]:
dataset_predict

,False,urg_episodio,quadro,cod_perg,hora_admissao,cod_causa,cod_proveniencia,cod_prioridade,idade,cod_via_verde,sexo,cod_concelho,afluencia
0,302,21000509,45,2,46752,5.0,5.0,3.0,67,NaN,1,10,58
1,303,21000510,37,109,46961,5.0,33.0,3.0,62,NaN,1,9,58
2,304,21000512,37,43,47101,5.0,5.0,3.0,33,NaN,1,5,59
3,305,21000515,44,43,47706,2.0,15.0,3.0,43,NaN,1,9,60
4,306,21000516,44,43,47800,10.0,33.0,3.0,81,NaN,2,10,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204249,203014,22164871,16,153,41480,5.0,33.0,2.0,91,NaN,1,9,16
204250,203015,22164872,25,52,41554,5.0,5.0,4.0,54,NaN,2,9,76
204251,203016,22164873,16,187,41579,5.0,33.0,2.0,66,NaN,1,1,17
204252,203017,22164874,15,172,41783,5.0,33.0,3.0,86,NaN,2,11,68
204253,203018,22164875,16,152,41829,5.0,5.0,3.0,84,NaN,1,5,69

In [45]:
import pickle
filename = "Model_GB_INT.sav"

loaded_model = pickle.load(open(filename, 'rb'))

X=dataset_predict.replace(np.nan,-1).drop(['urg_episodio', 'False'], axis=1)

episodio=dataset_predict['urg_episodio']

valor_prev=loaded_model.predict(X)
predictions = loaded_model.predict_proba(X)

prob=[]

for d in predictions:
    maior_prob=0
    for y in d: 
        if y>maior_prob:
            maior_prob=y
    prob.append(maior_prob)

valor_prev=valor_prev[0:5]
prob=prob[0:5]    
    
l=0   
for x in valor_prev:
    u = episodio.iloc[l]
    cursor.execute ("""UPDATE OUTPUT_CLASSIFICACAO
                       SET ultimo=0
                       WHERE urg_episodio=%s and target='internamento'""" %(int(u)))
    rows = [(int(u),'internamento',type(loaded_model).__name__,int(valor_prev[l]),round(prob[l],4),1)]
    cursor.executemany("insert into OUTPUT_CLASSIFICACAO (urg_episodio,target,tÃ©cnica,valor_previsto,grau_confianca,ultimo) values(:1,:2,:3,:4,:5,:6)", rows)
    l=l+1
connection.commit()

In [29]:
u

21000509